<div class="wrapper row0">
    <div id="topbar" class="hoc clear">
        <div class="fl_left">
            <ul>
                <li><i class="fa fa-envelope-o"></i> <a href="mailto:info@sociaal-woonkrediet.be" target="_blank">info@sociaal-woonkrediet.be</a>
                </li>
                <li><i class="fa fa-phone"></i> <a href="tel:+32 25 28 08 28" target="_blank">+32 25 28 08 28</a></li>
            </ul>
        </div>
        {% include '_snippet/_nav/_language' %}
    </div>
</div>
<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div class="fl_left flex">
            <div id="logo">
                <a href="{{ siteUrl }}">
                    <img src="{{ logo.image.one().getUrl() }}" alt="Sociaal Woonkrediet">
                </a>
            </div>
        </div>
        {% if mainInfo.street and mainInfo.postalCode|length and mainInfo.city|length %}
            <div id="quickinfo" class="fl_right">
                <ul class="nospace rightalign right">
                    <li>
                        <strong>Contact</strong>
                        <p>{{ mainInfo.street }}</p>
                        <p>{{ mainInfo.postalCode }} {{ mainInfo.city }}</p>
                    </li>
                </ul>
            </div>
        {% endif %}
    </header>
    {% include '_snippet/_nav/_main' %}
</div>