<nav id="mainav" class="hoc clear">
    <ul class="clear mobile-hide">
        {% for item in mainNavigation.navigation.all() %}
            <li>
                <a {% if item.dropdownItems|length %}class="drop"{% endif %}
                   href="{{ item.linkItem.one().url }}">{{ item.linkItem.one().title }}</a>
                {% if item.dropdownItems|length %}
                    <ul>
                        {% for child in item.dropdownItems.all() %}
                            <li><a href="{{ child.url }}">{{ child.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <div class="mobile-menu">
        <button class="main-menu-indicator" id="open-button">
            <span class="line"></span> MENU
        </button>
        <div class="menu-wrap">
            <div class="menu-content">
                <div class="navigation">
                    <span class="fa fa-times close-menu" id="close-button"></span>
                </div>
                <nav class="menu">
                    <div class="menu-list">
                        <ul>
                            {% for item in mainNavigation.navigation.all() %}
                                <li>
                                    <a {#{% if item.dropdownItems|length %}class="drop"{% endif %}#}
                                       href="{{ item.linkItem.one().url }}">{{ item.linkItem.one().title }}</a>
                                    {#{% if item.dropdownItems|length %}
                                        <ul>
                                            {% for child in item.dropdownItems.all() %}
                                                <li><a href="{{ child.url }}">{{ child.title }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}#}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</nav>
