{% extends '_layout' %}

{% block content %}

    <div class="wrapper wrapper--hero">
        <div class="hoc clear container section--header">
            <h1>{{ entry.title }}</h1>
            {% if entry.intro|length %}
                <div class="group">
                    <div class="two_third">
                        {{ entry.intro }}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% set q = craft.app.request.getParam('q') %}

    {% set societies = craft.entries.section('societyDetail').orderBy('city ASC') %}
    {% if societies|length %}

        {% set cities = [] %}
        <div class="wrapper">
            <div class="clear">
                <div class="block--grey">
                    <div class="hoc">
                        <div class="inline cities">
                            <span>Filter: &nbsp; </span>
                            {% for society in societies.all() if society.provincie.label == entry.title %}
                                {% if society.city not in cities %}
                                    {% if q is defined and q == society.city %}
                                        <a href="{{ entry.url }}" class="city-active">
                                            {{ society.city }} &nbsp; <i class="fa fa-close"></i>
                                        </a> &nbsp;
                                    {% else %}
                                        <a href="{{ entry.url }}?q={{ society.city }}">
                                            {{ society.city }}
                                        </a> &nbsp;
                                    {% endif %}
                                    {% set cities = cities|merge([society.city]) %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if q is defined and q|length %}
            {% set societies = craft.entries.section('societyDetail').orderBy('city ASC').city(q) %}
        {% endif %}

        <div class="wrapper">
            <div class="hoc clear container">
                {% for society in societies.all() if society.provincie.label == entry.title %}
                    <a href="{{ society.url }}" class="btmspace-30 block--grey block--location">
                        <div class="info--location">
                            <h3>{{ society.title }}</h3>
                            <p>{{ society.street }} <br>{{ society.postalCode }} {{ society.city }}</p>
                        </div>
                        <div class="icon--location">
                            {#<i class="fa fa-angle-right"></i>#}
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}